<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>WikiRacer: Find the Shortest Path</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>WikiRacer</h1>
        <h2>Find the shortest path between any two Wikipedia pages</h2>
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/1200px-Wikipedia-logo-v2.svg.png"
                 alt="Wikipedia-Logo" class="formatted-image"/>
        </div>

        <div class="form-group">
            <label for="startPage">Start Page:</label>
            <input type="text" id="startPage" placeholder="Enter the title of your start page, e.g., WikiRacing" required aria-label="Start Page">
        </div>

        <div class="form-group">
            <label for="endPage">End Page:</label>
            <input type="text" id="endPage" placeholder="Enter the title of your destination page, e.g., Python (programming language)" required aria-label="End Page">
        </div>

        <button id="startButton" aria-label="Start Search">Start Search</button>

        <div id="path"></div>
        <div id="size_warning" class="alert" style="display:none"></div>
        <div id="current_link" style="display:none"></div>
        <div id="error" class="alert" style="display:none;"></div>

        <div id="spinner" class="spinner"></div>

        <!-- Footer -->
        <div class="footer">
            Made by <a href="https://github.com/agrimjaimini" target="_blank" rel="noopener noreferrer">Agrim Jaimini</a>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
